{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Signup Image" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <h2 class="text-center mb-4">Sign Up</h2>
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-flex justify-content-between align-items-center mb-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="remember-me" />
                <label class="form-check-label" for="remember-me">Remember me</label>
              </div>
              <a href="#!">Forgot password?</a>
            </div>

            <button type="submit" class="btn btn-primary btn-block w-100 mb-4">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}